<table>
	<tbody>
		<tr class="row row-name">
			<th>
				<h4><b>Свойства</b></h4>
			</th>
			<td>
				<%properties.each do |p|%>
					<li><%= p[0]%>: <%= p[1]%> </li>
				<% end %>
			</td>	
		</tr>		
	</tbody>
</table>
